body {
   
    // color: rgb(10, 9, 9);
    // padding: 40px;
    // font-family: Arial;
    // text-align: center;
    // background-image: url('./img/ba.jpg');
    
    
  }
  p{
      color: rgb(82, 80, 80);
      font-family: 'Courier New', Courier, monospace;
      font-size: large;
      text-align:justify;
  }
  h1{
      font-family:Georgia, 'Times New Roman', Times, serif ;
  }
  #div1 {
      width: 40%; ;
      
  
    
    text-align: center;
  }
  img {
    border-radius: 50%;
  }