@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,300;0,700;0,900;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
a{
    text-decoration: none;
}
html{ zoom: 80%; }
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6a3093;  
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093); 
    background: linear-gradient(to right, #a044ff, #6a3093); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #6a3093;  
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093); 
    background: linear-gradient(to right, #a044ff, #6a3093); 
  }
.color{
    color: #008575;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin-left: 30rem;
    font-size: 2rem;
}
.reveal-modal-bg {
    background: rgba(0, 0, 0, 0.45);
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    bottom:0;
    width: auto !important;
    z-index: 40;
}
  
.my-modal .modal-content {
   color: #008575;
   font-weight: 800;
  }


  .btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
  .btn-labeled {padding-top: 0;padding-bottom: 0;}
  .btn { 
      margin-bottom:10px;
 }
.cardButton{
    margin-right: 12px !important;
    width: 9rem !important;
}
.move{
    display: inline-block;
}