.reveal-modal-bg {
    width: auto !important;
    position: fixed;
    background: rgba(0, 0, 0, 0.45);
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    z-index: 40;
}
.fade{
    width: auto !important;
    position: fixed;
    background: rgba(0, 0, 0, 0.45);
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    z-index: 40;
} 
.modal-backdrop{
    width: auto !important;
    position: fixed;
    background: rgba(0, 0, 0, 0.45);
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    z-index: 40;
}